<div class="list_item" *ngFor="let post of posts.slice().reverse()">
    <div class="item_details">
        <div *ngIf="post.img.length;then image else noImage">here is ignored</div>
        <ng-template #image><img src="{{post.img}}" alt=""></ng-template>
        <ng-template #noImage><div class="photo-wrap"><img src="assets/photo.png" alt=""></div></ng-template>
        <div class="data_group">
            <h4>{{post.title}}</h4>
            <!-- <h1>{{ postNum }}</h1> -->
            <span>{{post.sub_title}}</span>
            <p>{{post.content | slice : 0 : 80 }}</p>
            <date-pipe></date-pipe>
        </div>
    </div>
    <button (click)=''>
        <img src="assets/delete.png" alt="remove list item">
    </button>
</div>